<div class='city'>
  <p>城名:<span><%= @city.name %></span></p>
  <p>人口:<span><%= @city.human %></span></p>
  <p>食物:<span><%= @city.food %></span></p>
  <p>金子:<span><%= @city.gold %></span></p>
  <p>类型:<span><%= @city.capital ? '首都' : '普通城市' %></span></p>
  <p>税率:<span><%= @city.tax_rate %></span></p>
  <p>地标:<span><%= @city.pos_x%></span>, <span><%= @city.pos_y %></span></p>
</div>

<% if current_user %>
  <%= link_to '编辑', edit_user_city_url(@user, @city)%>
<% end %>
